.size_a{
    font-size: 30px;
    font-weight: 400;
}
.size_b{
    font-size: 25px;
    font-weight: 300;
}
.size_c{
    font-size: 20px;
    font-weight: 300;
}
.size_x{
    font-size: 18px;
    font-weight: 300;
}
.size_y{
    font-size: 15px;
    font-weight: 200;
}
.size_z{
    font-size: 13px;
    font-weight: 100;
}